.banner {
  background: $not-quite-black;
  padding: 1.5rem 1.5rem 4rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;

    small {
      display: block;
      font-size: .75em;
      line-height: 1.5;
    }
  }
}
