.colors {
  background: $blurple;
  padding: 3rem 1.5rem;

  .columns {
    .column {
      padding: 1.5rem 1rem;

      .title {
        margin-bottom: 2.5rem;
      }
    }

    &:nth-child(1) {
      .column {
        &.is-two-thirds {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }

    .column {
      &.not-quite-blurple {
        background: $not-quite-blurple;
      }

      &.dark-blurple {
        background: $dark-blurple;
      }

      &.white {
        background: $black;

        .title,
        .subtitle {
          color: $white;
        }
      }

      &.not-quite-black {
        background: $not-quite-black;
      }
    }
  }
}
