.hero {
  position: relative;
  background-image: url("../img/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

  .media {
    margin: 13rem 0 3.5rem;
    align-items: flex-end;

    .media-content {
      text-align: right;
      text-transform: uppercase;
      margin: 0 0 3.5rem;

      .title {
        font-size: 5rem;
        margin: 0;
      }

      .subtitle {
        font-size: 1.5rem;
      }
    }

    .media-right {
      img {
        height: 13rem;
      }
    }
  }

  .waves {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      width: 200%;

      .wave {
        animation: wave 3s linear;
        animation-iteration-count: infinite;

        &:nth-child(1) {
          fill: $dark-blurple;
          animation-duration: 5s;
          animation-direction: reverse;
        }

        &:nth-child(2) {
          fill: $blurple;
          animation-duration: 7s;
        }
      }
    }
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
