.images {
  &.is-light {
    .column {
      a {
        img {
          background: $light-guild;
          box-shadow: -.2em .2em $light-guild;
        }
      }
    }
  }

  .column {
    align-items: center;
    display: flex;
    flex-direction: column;

    &:nth-child(odd) {
      a {
        &:first-child {
          margin: 128px 0 0;
        }
      }
    }

    a {
      margin: 64px 0 0;

      &:hover,
      &:focus, {
        img {
          border-radius: 30%;
        }
      }

      img {
        background: $guild;
        border-radius: 50%;
        box-shadow: -.2em .2em $guild;
        height: 128px;
        transition: border-radius .2s ease-in-out;
        width: 128px;
      }
    }
  }
}
