// Discord brand colors
$blurple: #5865F2;
$dark-blurple: #454FBF;
$not-quite-black: #23272a;
$legacy-blurple: #7289DA;
$legacy-dark: #4E5D94;

// Client colors
$guild: #202225;
$light-guild: #e3e5e8;

// Set some base variables
$white: $not-quite-black;
$black: hsl(0, 0%, 100%);
$black-bis: hsl(0, 0%, 98%);
$black-ter: hsl(0, 0%, 96%);
$grey-darker: hsl(0, 0%, 93%);
$grey-dark: hsl(0, 0%, 86%);
$grey: hsl(0, 0%, 71%);
$family-sans-serif: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-display: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$footer-background-color: $black;

// Import the bits of bulma we need
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/media";

// Import the custom fonts
@import "../fonts/ginto-nord/stylesheet.css";
@import "../fonts/ginto-normal/stylesheet.css";
@import "../fonts/whitney/stylesheet.css";

// Import our components
@import "base";
@import "banner";
@import "header";
@import "actions_list";
@import "colors";
@import "footer";
@import "images";
@import "error";
