// Set some base variables
$white: #23272a;
$guild: #202225;
$blurple: #7289da;
$dark-blurple: #4e5d94;
$black: hsl(0, 0%, 100%);
$black-bis: hsl(0, 0%, 98%);
$black-ter: hsl(0, 0%, 96%);
$grey-darker: hsl(0, 0%, 93%);
$grey-dark: hsl(0, 0%, 86%);
$grey: hsl(0, 0%, 71%);
$family-sans-serif: "Whitney Book", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$footer-background-color: $black;

// Import the bits of bulma we need
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/media";

// Import the custom fonts
@import "../fonts/uni-sans/stylesheet.css";
@import "../fonts/whitney-book/stylesheet.css";

// Import our components
@import "base";
@import "header";
@import "actions_list";
@import "colors";
@import "footer";
@import "images";
